<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">

	<Properties>
		<Property name="log-path">/var/log</Property>
		<Property name="app-name">bar-db-migration</Property>
	</Properties>

	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="${log-path}/${app-name}.log"
			filePattern="${log-path}/${app-name}-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout>
				<pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %c{1}: %m%n</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>

</Configuration>